<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title style="text-align:center">
      Bitácora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title size="large">Bitácora</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item class="item-text-wrap" *ngFor="let viv of vivencias" [routerLink]="['/vivencias/' + viv.titulo]">

      <h3>{{viv.titulo}}</h3>

    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="setOpen(true)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="borrarVivencias()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Titulo</ion-label>
          <ion-input placeholder="Enter text"[(ngModel)]="titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input placeholder="Enter text"[(ngModel)]="descripcion"></ion-input>
        </ion-item>
        <br>
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <br>
        <ion-item>
          <ion-label>Grabación de audio</ion-label>
          <ion-button (click)="startRecording()"  expand="full">Start</ion-button>
          <ion-button (click)="stopRecording()"  expand="full" color="danger">Stop</ion-button>
        </ion-item>

          <!--<ion-list>
          <ion-item button *ngFor="let f of storedFileNames" (click)="playFile(f)">
            {{ f }}
          </ion-item>

        </ion-list>-->

        <ion-button fill="clear" (click)="addVivencia()">Añadir</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>




</ion-content>
